<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Thêm sản phẩm</h6>
        <form
          action="/admin/productCreate"
          method="post"
          class="form-product"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="inputProduct" class="form-label">Tên sản phẩm *</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="inputProduct"
              aria-describedby="nameProduct"
            />
            <div class="productError my-2"></div>
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label"
              >Hình sản phẩm *</label
            >
            <input
              class="form-control"
              type="file"
              name="image"
              id="formFileMultiple"
              multiple
            />
            <p id="showImage" class="my-2 mt-3"></p>
            <div class="imgError my-2"></div>
          </div>
          <div class="mb-3">
            <label for="inputPrice" class="form-label">Giá sản phẩm *</label>
            <input
              type="number"
              class="form-control"
              name="price"
              id="inputPrice"
              aria-describedby="price"
              placeholder="đ"
            />
            <div class="priceError my-2"></div>
          </div>
          <div class="mb-3">
            <label for="inputPrice" class="form-label">Giá giảm *</label>
            <input
              type="number"
              class="form-control"
              name="sale_price"
              id="inputPrice"
              aria-describedby="price"
              placeholder="đ"
            />
            <div class="priceError my-2"></div>
          </div>
          <div class="mb-3">
            <label for="inputDetail" class="form-label">Mô tả</label>
            <textarea
              id="summernote"
              name="description"
              placeholder="Nhập nội dung ở đây"
            ></textarea>
            <div class="detailError my-2"></div>
          </div>
          <div class="mb-3 col-6">
            <label for="checkCategory" class="form-label">Danh mục sản phẩm *</label>
            <select
              class="form-select form-in"
              id="checkCategory"
              name="categoryId"
            >
              <option value="">Vui lòng chọn danh mục</option>
              <!-- Tùy chọn mặc định -->
              <% categories.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% }); %>
            </select>
          </div>
          <div class="cateError my-2"></div>

          <button type="submit" id="myBtn" class="btn btn-primary m-2">
            Thêm mới
          </button>
          <input type="reset" class="btn btn-warning m-2" value="Nhập lại" />
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Form End -->
