<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Thêm sản phẩm</h6>
        <form
          action="/admin/productCreate"
          method="post"
          class="form-product"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="inputProduct" class="form-label">Tên sản phẩm *</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="inputProduct"
              aria-describedby="nameProduct"
            />
            <div class="productError my-2"></div>
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label"
              >Hình sản phẩm *</label
            >
            <input
              class="form-control"
              type="file"
              name="image"
              id="formFileMultiple"
              multiple
            />
            <p id="showImage" class="my-2 mt-3"></p>
            <div class="imgError my-2"></div>
          </div>
          <div class="mb-3">
            <label for="inputPrice" class="form-label">Giá sản phẩm *</label>
            <input
              type="number"
              class="form-control"
              name="price"
              id="inputPrice"
              aria-describedby="price"
              placeholder="đ"
            />
            <div class="priceError my-2"></div>
          </div>
          <div class="mb-3">
            <label for="inputPrice" class="form-label">Giá giảm *</label>
            <input
              type="number"
              class="form-control"
              name="sale_price"
              id="inputSalePrice"
              aria-describedby="price"
              placeholder="đ"
            />
            <div class="salePriceError my-2"></div>
          </div>
          <div class="mb-3">
            <label for="inputDetail" class="form-label">Mô tả</label>
            <textarea
              id="summernote"
              name="description"
              placeholder="Nhập nội dung ở đây"
            ></textarea>
            <div class="detailError my-2"></div>
          </div>
          <div class="mb-3 col-6">
            <label for="checkCategory" class="form-label"
              >Danh mục sản phẩm *</label
            >
            <select
              class="form-select form-in"
              id="checkCategory"
              name="categoryId"
            >
              <option value="">Vui lòng chọn danh mục</option>
              <!-- Tùy chọn mặc định -->
              <% categories.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% }); %>
            </select>
          </div>
          <div class="cateError my-2"></div>

          <button type="submit" id="myBtn" class="btn btn-primary m-2">
            Thêm mới
          </button>
          <input type="reset" class="btn btn-warning m-2" value="Nhập lại" />
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Form End -->

<script>
  document
    .querySelector(".form-product")
    .addEventListener("submit", function (event) {
      event.preventDefault();
      const productName = document.getElementById("inputProduct").value.trim();
      const productImage = document.getElementById("formFileMultiple").value;
      const productPrice = document.getElementById("inputPrice").value.trim();
      const productSalePrice = document
        .getElementById("inputSalePrice")
        .value.trim();
      const categoryId = document.getElementById("checkCategory").value;

      const productError = document.querySelector(".productError");
      const imgError = document.querySelector(".imgError");
      const priceError = document.querySelector(".priceError");
      const salePriceError = document.querySelector(".salePriceError");
      const categoryError = document.querySelector(".cateError");

      // Thiết lập một biến để theo dõi lỗi
      let hasError = false;

      // Bắt lỗi tên sản phẩm
      if (!productName) {
        productError.innerHTML = `<span class="text-danger">Tên sản phẩm không được để trống</span>`;
        hasError = true;
      } else if (productName.length < 2) {
        productError.innerHTML = `<span class="text-danger">Tên sản phẩm không được dưới 2 ký tự</span>`;
        hasError = true;
      } else {
        productError.innerHTML = "";
      }

      // Bắt lỗi hình ảnh sản phẩm
      if (!productImage) {
        imgError.innerHTML = `<span class="text-danger">Hình ảnh không được để trống</span>`;
        hasError = true;
      } else {
        const imageFormat = ["image/png", "image/jpeg", "image/jpg"];
        const selectedFile =
          document.getElementById("formFileMultiple").files[0];
        if (!imageFormat.includes(selectedFile.type)) {
          imgError.innerHTML = `<span class="text-danger">Vui lòng chọn file ảnh có định dạng PNG, JPEG hoặc JPG</span>`;
          hasError = true;
        } else {
          imgError.innerHTML = "";
        }
      }

      // Bắt lỗi giá sản phẩm
      if (!productPrice) {
        priceError.innerHTML = `<span class="text-danger">Giá sản phẩm không được để trống</span>`;
        hasError = true;
      } else if (productPrice < 0) {
        priceError.innerHTML = `<span class="text-danger">Tên sản phẩm không được là sô âm</span>`;
        hasError = true;
      } else {
        priceError.innerHTML = "";
      }

      // Bắt lỗi giá giảm
      if (!productSalePrice) {
        salePriceError.innerHTML = `<span class="text-danger">Giá giảm không được để trống</span>`;
        hasError = true;
      } else if (productSalePrice < 0) {
        salePriceError.innerHTML = `<span class="text-danger">Giá giảm không được là số âm</span>`;
        hasError = true;
      } else if (parseInt(productSalePrice) >= parseInt(productPrice)) {
        salePriceError.innerHTML = `<span class="text-danger">Giá giảm phải thấp hơn giá gốc</span>`;
        hasError = true;
      } else {
        salePriceError.innerHTML = "";
      }

      // Bắt lỗi danh mục sản phẩm
      if (!categoryId) {
        categoryError.innerHTML = `<span class="text-danger">Vui lòng chọn danh mục sản phẩm</span>`;
        hasError = true;
      } else {
        categoryError.innerHTML = "";
      }

      // Kiểm tra cờ lỗi
      if (!hasError) {
        Swal.fire({
          icon: "success",
          title: "Thành công!",
          text: "Thêm phẩm mới thành công!",
          showConfirmButton: false,
          timer: 1500, // Tắt tự động sau 1.5 giây
          didClose: () => {
            this.submit();
          },
        });
      }
    });
</script>
