<style>
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .section-background {
    background: linear-gradient(45deg, #b0b434, rgb(97, 255, 113));
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
  }

  .return-link {
    color: #333; /* Màu của liên kết */
    text-decoration: none; /* Xóa gạch chân của liên kết */
    transition: color 0.3s; /* Hiệu ứng chuyển đổi màu trong 0.3 giây */
  }
  .return-link:hover {
    color: rgb(236, 241, 86); /* Màu của liên kết khi hover */
  }
  .return-link i {
    margin-right: 5px; /* Khoảng cách giữa icon và văn bản */
  }
</style>

<section class="vh-100 section-background">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <!-- Thêm liên kết trở về vào đây -->
        <a href="/" class="return-link">
          <i class="fas fa-arrow-left"></i> Trở về
        </a>
        <!-- Kết thúc liên kết trở về -->
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="../../../../public/client/images/categories_img_02.jpg"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem; height: 80%"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form id="loginForm" action="/login" method="post">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img
                      src="../../../../public/client/images/favicon.ico"
                      alt="login form"
                      class="img-fluid"
                    />
                    <span class="h1 fw-bold mb-0">Freshshop</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                    Đăng nhập tài khoản
                  </h5>

                  <% if (typeof errorMessage !== 'undefined' && errorMessage){%>
                  <div class="alert alert-danger errMsg" role="alert">
                    <%= errorMessage %>
                  </div>
                  <% } %>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="emailInput">Email</label>
                    <input
                      type="email"
                      id="emailInput"
                      name="email"
                      class="form-control form-control-lg"
                      placeholder="example@gmail.com"
                    />
                    <div class="emailError"></div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="passwordInput"
                      >Password</label
                    >
                    <input
                      type="password"
                      id="passwordInput"
                      name="password"
                      class="form-control form-control-lg"
                      placeholder="123456abc"
                    />
                    <div class="passwordError"></div>
                  </div>

                  <div class="pt-1 mb-4">
                    <button
                      class="btn btn-dark btn-lg btn-block"
                      id="loginButton"
                      type="submit"
                    >
                      Đăng nhập
                    </button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81">
                    Bạn chưa có tài khoản?
                    <a href="/register" style="color: #393f81"
                      >Đăng ký ngay ở đây</a
                    >
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let submitted = false;

  document
    .getElementById("loginForm")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Ngăn chặn hành động mặc định của form
      const email = document.getElementById("emailInput").value.trim();
      const password = document.getElementById("passwordInput").value.trim();

      const emailError = document.querySelector(".emailError");
      const passwordError = document.querySelector(".passwordError");
      const errMsg = document.querySelector(".errMsg");

      function validateEmail(email) {
        const re = /\S+@\S+\.\S+/;
        return re.test(email);
      }

      let hasError = false;

      // Kiểm tra email không được trống và đúng định dạng
      if (!email) {
        emailError.innerHTML = `<span class="text-danger">Email không được để trống</span>`;
        hasError = true;
      } else if (!validateEmail(email)) {
        emailError.innerHTML = `<span class="text-danger">Email không đúng định dạng</span>`;
        hasError = true;
      } else {
        emailError.innerHTML = "";
      }

      // Kiểm tra password không được trống
      if (!password) {
        passwordError.innerHTML = `<span class="text-danger">Mật khẩu không được để trống</span>`;
        hasError = true;
      } else {
        passwordError.innerHTML = "";
      }
      if (!hasError) {
        this.submit();
      }
    });
</script>
