<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>GIỚI THIỆU</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Giới thiệu</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End All Title Box -->

<!-- Start About Page  -->
<div class="about-box-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-frame">
          <img class="img-fluid" src="../../../public/client/images/about-img.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="noo-sh-title-top">Giới thiệu về <span>Freshshop</span></h2>
        <p>
          Chào mừng bạn đến với FreshShop - nơi bạn có thể khám phá thế giới
          tươi mới của trái cây! Chúng tôi tự hào là địa chỉ tin cậy cho những
          người yêu thích hương vị tươi mát và chất lượng tốt nhất của trái cây
          tự nhiên.
        </p>
        <p>
          Tại FreshShop, chúng tôi tập trung vào việc cung cấp cho khách hàng
          những sản phẩm tươi mới nhất từ các trang trại và vườn cây uy tín.
          Chúng tôi cam kết mang lại cho bạn những trải nghiệm mua sắm an toàn,
          tiện lợi và đáng tin cậy, giúp bạn dễ dàng tạo ra những bữa ăn ngon
          miệng và lành mạnh.
        </p>
        <p>
          Hãy tham gia cùng chúng tôi để khám phá và tận hưởng hương vị tươi mới
          của trái cây ngay hôm nay!
        </p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6 col-lg-4">
        <div class="service-block-inner">
          <h3>Uy tín</h3>
          <p>Chúng tôi bán đúng với những sản phẩm chúng tôi đăng.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="service-block-inner">
          <h3>Chất lượng</h3>
          <p>
            Thực phẩm được đổi mới hằng ngày, tưới mới và sạch sẽ vệ sinh an
            toàn thực phẩm.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="service-block-inner">
          <h3>Nhanh chóng</h3>
          <p>
            Chúng tôi sẽ làm việc với đơn hàng của bạn nhanh chóng và giao hàng
            ngay trong ngày.
          </p>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12">
        <h2 class="noo-sh-title">Địa điểm của chúng tôi</h2>
      </div>
      <div class="col-12">
        <!-- Thêm mã nhúng Google Maps vào đây -->
        <iframe
          src="https://www.google.com/maps/d/u/0/embed?mid=1qNJiZYEsGo-GmA2hK1XvTDV6_3TJ65M&ehbc=2E312F&noprof=1"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<!-- End About Page -->
