<div class="main-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="custom-select-box">
          <select
            id="basic"
            class="selectpicker show-tick form-control"
            data-placeholder="$ USD"
          >
            <option>Đ VND</option>
          </select>
        </div>
        <div class="right-phone-box">
          <p>Gọi chúng tôi :- <a href="#"> +84 774 803 321</a></p>
        </div>
        <div class="our-link">
          <ul>
            <li>
              <a href="/account"
                ><i class="fa fa-user s_color"></i> Tài khoản</a
              >
            </li>
            <li>
              <a href="/contact"
                ><i class="fas fa-headset"></i> Liên hệ chúng tôi</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="login-box">
          <select
            id="basic"
            class="selectpicker show-tick form-control"
            data-placeholder="Sign In"
          >
            <option>Đăng ký</option>
            <option>Đăng nhập</option>
          </select>
        </div>
        <div class="text-slid-box">
          <div id="offer-box" class="carouselTicker">
            <ul class="offer-box">
              <li>
                <i class="fab fa-opencart"></i> Giảm giá 20% cho tất cả các loại trái cây với mã: fs20
              </li>
              <li>
                <i class="fab fa-opencart"></i> Giảm 20k cho đơn từ 250k
              </li>
              <li><i class="fab fa-opencart"></i> Giảm 10%! cho các loại rau củ</li>
              <li><i class="fab fa-opencart"></i> Giảm lên đến 50%! cho khách hàng có thẻ thành viên</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
