<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-12">
      <a href="/admin/cateCreate" class="btn btn-primary m-2 float-end mt-3"
        ><i class="fa-solid fa-plus"></i> Thêm mới</a
      >
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Quản lý danh mục</h6>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tên danh mục</th>

                <th scope="col" colspan="2">Hành động</th>
              </tr>
            </thead>
            <!-- <tbody id="categoriesTableBody"></tbody> -->

            <tbody id="categoriesTableBody">
              <% categories.sort((a, b) => b.id - a.id);
              categories.forEach(category=> { %> <% }); %>
            </tbody>
          </table>
          <div
            id="pagination-container"
            class="pagination justify-content-center"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table End -->
<script>
  const categoriesData = <%- JSON.stringify(categories) %>;
</script>

<script>
  $(document).ready(function () {
    const itemsPerPage = 5; // Số lượng mục trên mỗi trang
    const categories = categoriesData; // Sử dụng dữ liệu từ biến JavaScript

    // Hàm để tạo nội dung của mỗi trang
    const createPageContent = (data) => {
      let html = "";
      data.forEach((category) => {
        categories.sort((a, b) => b.id - a.id);
        html += `<tr data-id="${category.id}">
          <th scope="row">${category.id}</th>
          <td>${category.name}</td>
          <td class="w-3">
            <a href="/admin/cateEdit?id=${category.id}" class="btn-edit mx-1" data-id="${category.id}">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="/admin/cateDelete/${category.id}" class="btn-del" data-id="${category.id}" data-title="${category.title}" onclick="return confirm('Bạn có chắc chắn muốn xóa danh mục ${category.name} không?')">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>`;
      });
      return html;
    };

    // Hàm để hiển thị dữ liệu trên trang cụ thể
    const displayPage = (currentPage) => {
      const startIndex = (currentPage - 1) * itemsPerPage;
      const endIndex = startIndex + itemsPerPage;
      const pageData = categories.slice(startIndex, endIndex);
      const html = createPageContent(pageData);
      $("#categoriesTableBody").html(html);
    };
    // Khởi tạo pagination
    $("#pagination-container").pagination({
      dataSource: categories,
      pageSize: itemsPerPage,
      callback: function (data, pagination) {
        displayPage(pagination.pageNumber);
        $("#pagination-container ul").addClass("pagination");
        $("#pagination-container li").addClass("page-item");
        $("#pagination-container a").addClass("page-link");

        history.pushState({}, "", "?page=" + pagination.pageNumber);
      },
    });
  });
</script>
